#navbar-wrapper {
  width: 100vw;
  height: 4.5em;
  display: flex;
  justify-content: space-between;
  background: #f7f7f7;
}

#navbar-btns-wrapper {
  width: 100%;
  background: #7dc2ff;
  display: flex;
  justify-content: space-evenly;
  border-radius: 1em 1em 0 0;
  align-items: center;
}
